$standardColorDark: #1d5235;
$standardColorLight: #e3fff0;
$standardColorMedium: #e0f336;
$standardColorNavButtonHover: rgba(159,227,190,1);
$standardColorBackground: #f5f5f5;
$standardColorNavInactive: #d4d4d4;


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$font-family: 'Raleway', sans-serif;
$fontSizeOptimal: 62.5%;


@mixin standardFontDarkColor {
    font-size: $fontSizeOptimal;
    color: $standardColorDark;
}


body {
    margin: 0;
    padding: 0;
    background-color: darkolivegreen;
    font-family: $font-family;
    ul {
        margin: 0;
        padding: 0;
    }
}

p {
margin: 0;
}

.header {
    background-color: $standardColorDark;
    height: 10vh;
}
.nav {
    
    height: 10vh;
    text-align: center;
    background-color: $standardColorNavInactive;
    ul {
        display: flex;
        li {
            margin-right: -2%;
            background-color: $standardColorNavButtonHover;
            width: 25vw;
            border-right: 2px solid $standardColorLight;
            box-shadow: 1px 0 $standardColorDark;
            border-radius: 0 20px 20px 0;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2*$fontSizeOptimal;
            &#summaryBar {
                border-right: none;
                box-shadow: none;
            }
        }
    }
}

nav ul li {
    &#searchFlightBar {
        z-index: 4;
    }
    &#searchingResultsBar {
        z-index: 3;
    }
    &#seatReservationBar {
        z-index: 2;
    }
    &#summaryBar {
        z-index: 1;
    }
}

.inactiveNav {
    background-color: $standardColorNavInactive !important;
}

.mainContent {
    height: 80vh;
    background-color: $standardColorBackground;
    grid-template-columns: 10% 30% 20% 30% 10%;
    display: grid;
}

.footer {
    background-color: $standardColorDark;
    font-size: $fontSizeOptimal*0.8;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
}


@mixin mainButton {
    background-color: $standardColorDark;
    font-family: $font-family;
    font-size: 1.5*$fontSizeOptimal;
    color: $standardColorLight;
    border: 2px solid $standardColorMedium;
    border-radius: 10px;
    margin: 3%;
    opacity: 0.8;
    transition: opacity 1s;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
        background-color: $standardColorNavButtonHover;
        color: $standardColorDark;
        transition: opacity 1s, background-color 1s, color 0.5s;
    }

}

button {
    @include mainButton;
    width: 20vw;
    height: 8vh;
}

.centeredButton {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.smallButton {
    @include mainButton;
    width: 3vw;
    height: 5vh;
}



.page00 {
    background-image: url("/dest/assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    background-position: center;
}


.page01 {
    display: contents;
}


.departurePlace {
    grid-column: 2; grid-row: 2;
    position: relative;
    height: 10vh;
}
.destinationPlace {
    grid-column: 4; grid-row: 2;
    position: relative;
    height: 10vh;
}
.departureDate {
    grid-column: 2; grid-row: 3;
}
.returnDate {
    grid-column: 4; grid-row: 3;
}
.classSelect {
    grid-column: 2; grid-row: 4;
    position: relative;
    height: 10vh;
}
.totalNumOfPass {
    grid-column: 4; grid-row: 4;
    position: relative;
    height: 10vh;
}
.searchButton {
    grid-column: 3; grid-row: 5;
    position: relative;
    height: 10vh;
}



@mixin input {
    padding: 0;
    @include standardFontDarkColor;
    font-family: $font-family;
    background-color: $standardColorLight;
    border: 2px solid $standardColorDark;
    border-radius: 10px;
    text-align: center;
}

.mainInput {
    @include input;
    width: 30vw;
    height: 10vh;
    cursor: pointer;
    &:hover {
        border: 2px solid $standardColorMedium;
    }
}


.smallInput {
    @include input;
    width: 3vw;
    height: 5vh;
    cursor: none;
}



span {
    height: 10vh;
    &.departureDate {
        @include standardFontDarkColor;
        margin: 5px;
        width: 1px;
    }
    &.returnDate {
        @include standardFontDarkColor;
        margin: 5px;
        width: 1px,
    }
}



ul.positionAbsolute {
    position: absolute;
    z-index: 1;
}


.invisible li:nth-child(n + 2) {
    display: none;
}
.visible li:nth-child(n + 2) {
    background-color: $standardColorBackground;
    color: $standardColorDark;
    @include standardFontDarkColor;
    font-size: 1.2*$fontSizeOptimal;
    padding: 1vh 0;
    border-bottom: 1px solid $standardColorDark;
    text-align: center;
    &:hover {
        background-color: rgba(159,227,190,0.9);
        cursor: pointer;
    }
}



.page02 {
    display: contents;
}

#thereHeader {
    grid-column: 2; grid-row: 2;
}

#thereData {
    grid-column: 2; grid-row:3;
}
#returnHeader {
    grid-column: 4; grid-row: 2;
}
#returnData {
    grid-column: 4; grid-row: 3;
}
#login {
    grid-column: 3; grid-row: 4;
}
#seatReservation {
    grid-column: 3; grid-row: 4;
}

.resultsHeader {
    border: 1px solid $standardColorMedium;
    background-color: $standardColorNavButtonHover;
    height: 15vh;
    width: 30vw;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        display: flex;
        align-items: center;
        padding: 0 2vw;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        font-size: 1.2*$fontSizeOptimal;
        font-family: $font-family;
    }
}

.thereReturnData {
    background-color: $standardColorLight;
    border: 2px solid $standardColorNavInactive;
    border-radius: 10px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    & > * {
        font-family: $font-family;
        font-size: 1.2*$fontSizeOptimal;
        & > * {
            margin: 0 2%;
        }
    }
}

.date {
    & .dateFont {
    font-size: 2*$fontSizeOptimal;
    }
}


.flightDataContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}



.loginWindow {
    z-index: 1;
    width: 50vw;
    height: 50vh;
    margin: 17vh 25vw;
    position: absolute;
    border: 1px solid $standardColorMedium;
    border-radius: 5px;
    box-shadow: 5px 5px $standardColorNavInactive;
    background-color: $standardColorDark;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $standardColorLight;
    font-size: 1.2*$fontSizeOptimal;
    & input {
        @include input;
        height: 8vh;
        width: 20vw;
        font-size: 1.2*$fontSizeOptimal;
    }
}




li {
    list-style-type: none;
}

.invisibleNavBar {
    display: none;
}

.invisibleLogout {
    display: none;
}

.invisible00 {
    display: none;
}

.invisible01 {
    display: none;
}
.invisible02 {
    display: none;
}
.invisible02login {
    display: none;
}
.invisible02seatReservation {
    display: none;
}
.invisible03 {
    display: none;
}
.invisible04 {
    display: none;
}

.passengersNumber {
    appearance: textfield; 
}


.searchBtnError {
    color: red;
    border: 1px solid red;
}

.bookedPlace {
    stroke: rgb(20, 218, 13) !important;
    fill: rgb(39, 116, 39) !important;
    opacity: 0.7 !important;
}

.lockedPlace {
    opacity: 0.7 !important;
}

